.title{
    text-align: center;
}
/*.slides{
    margin-top: 0%;
    padding-top: 0%;
}*/
ion-content ion-slides ion-slide p{
    margin-top: 25%;
    position: absolute;
    margin-left: 25%;
    color: white;
    font-size: 100%;
    text-shadow: black 0.1em 0.1em 0.1em;
}

.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
    }
  }

  