.title{
    text-align: center;
}
/*.slides{
    margin-top: 0%;
    padding-top: 0%;
}*/
ion-content ion-slides ion-slide p{
    margin-top: 25%;
    position: absolute;
    margin-left: 25%;
    color: white;
    font-size: 100%;
    text-shadow: black 0.1em 0.1em 0.1em;
}